<h1>User一覧</h1>
<h3>ユーザー検索</h3>
<%= search_form_for @q do |f| %>
  <%= f.label :name_cont, 'ユーザー名' %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>
<% @users.each do |user| %>
  <div class="card" style="width: 16rem;">
    <%= image_tag user.image, width:254 if user.image.attached? %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to user.name, user_path(user) %></h5>
      <p class="card-text"><%= user.email %></p>
      <button type="button" class="btn btn-outline-primary"><%= link_to "詳細", user_path(user) %>
    </div>
  </div><br>
<% end %>


