<h1>編集ページ</h1>
<%= form_with model:@post, url: post_path do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :body %><br>
  <%= f.text_area :body %><br>

  <%= f.submit "更新する" %>
<% end %>