<h2>投稿一覧</h2>
<h3>検索</h3>
<%= search_form_for @q do |f| %>
  <%= f.label :title_cont, 'タイトル名' %>
  <%= f.search_field :title_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>
<% @posts.each do |post| %>
  <div class="card" style="width: 16rem;">
    <%= image_tag post.image, width:254 %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
      <p class="card-text"><%= post.body %></p>
      <button type="button" class="btn btn-outline-primary"><%= link_to "詳細", post_path(post) %>
    </div>
  </div><br>
<% end %>